html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.PaddingAll {
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: whitesmoke;
}

.PaddingAllWhite {
    padding: 40px 20px 20px 20px;
    margin: 20px 10px 10px 10px;
    border: 2px solid white;
    background-color: white;
}

.a-cleanup {
    color: inherit;
}

    .a-cleanup:hover {
        text-decoration: none;
        color: inherit;
    }

.card-img-custom {
    width: 100%;
    height: 26vw;
    object-fit: cover;
}

.book-card {
    transition: all 0.2s ease;
}

.book-card:hover {  
    transform: scale(1.03);
    box-shadow: lightgray 2px 5px 5px 2px;
}

.filter-section-box {
    display: none;
    margin-top: 20px;
}


.search-container {
    display: flex;
    justify-content: center; /* Wyrównanie do œrodka poziomo */
    margin-top: 10vh; /* Umieszczanie w oko³o 1/3 strony (10% wysokoœci od góry) */
}

.search-title-form {
    width: 50%; /* Szerokoœæ formularza */
}

.input-group input {
    flex-grow: 1; /* Rozci¹ganie pola tekstowego */
    font-size: 16px;
}

.input-group button {
    font-size: 16px;
    padding: 10px 20px;
}

.books-container {
    margin-top: 5vh; /* Odleg³oœæ identyczna jak miêdzy napisem Welcome a formularzem wyszukiwania */
}

